:root{
    --background: #FFFFFF;
    --background2: #EAF2FD;
    --white: #FFFFFF;
    --gray: #F5F5F5;
    --blue: #2A7AE4;
    --blue2: #2465bb;
    --blue3: #328bff;
    --principal: #464646;
    --placeholder: #7d7d7d;
}

body{
    background-color: var(--background);
    font-family: 'Raleway', sans-serif;
}

/* Global */
h1{
    color: var(--principal);
}
a:link, a:visited, a:active {
    text-decoration:none;
}

/* Buttons */
.btn{
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}
@media (min-width: 768px){
    .btn__login{
        order: 1;    
    }
    .navbar{
        justify-content: space-between;
        margin: 15px 40px;
    }
}
@media (min-width: 992px){
    .navbar{     
        margin: 15px 120px;
    }
}
.btn__login{
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}
.btn__login--link{
    color: var(--blue);
}
.btn__login:hover{    
    border: 2px solid var(--blue2);
    color: var(--blue2);
}
.icon__search{
    font-size: 28px;    
    color: var(--principal);
}
.formSearch{
    display: none;
}
@media (min-width: 768px){
    .formSearch{
        display: block;
    }
    .activeBtn{
        display: none !important;
    }
    .search{
        background-color: var(--gray);
        padding: 10px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;        
    }
    .search__input{
        border: none;
        background-color: transparent;
        width: 250px;
    }
    .search__icon{
        border: none;
        background-color: transparent;
    }
}
@media (min-width: 992px){
    .search__input{     
        width: 400px;
    }
}

/* Banner */
.banner{
    position: relative;
    display: inline-block;    
}
.banner__info{
    position: absolute;
    top: 160px;
    left: 20px;
    color: var(--white);
}
@media (min-width: 768px){
    .banner__info{     
        top: 180px;
        left: 20px;        
    }
}
@media (min-width: 992px){
    .banner__info{     
        top: 180px;
        left: 120px;        
    }
}
.banner__info--title{
    font-size: 30px;
    margin-bottom: 5px;
}
.banner__info--description{
    font-size: 18px;
    margin-top: 0;
}
.banner__img{
    width: 100%;
    height: 350px;
    object-fit: cover;        
}
.btn__banner{
    background-color: var(--blue);
    border: none;
    color: var(--white);   
}
.btn__banner:hover{
    background-color: var(--blue3);    
}

/* Products */
.SectionProducts{
    margin: 0 20px;
}
@media (min-width: 768px){
    .SectionProducts{
        margin: 0 30px;
    }
}
@media (min-width: 992px){
    .SectionProducts{
        margin: 0 120px;
    }
}
.category{
    margin: 20px 0;
}
.category__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.category__link, .product__link{
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
}
.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;    
    margin-bottom: 40px;
}
@media (min-width: 768px){
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
    .products{
        margin-bottom: 50px;
    }
}
@media (min-width: 992px){
    .products{
        grid-template-columns: repeat(6, 1fr);
    }
}
.product__image{    
    width: 100%;
    height: 196px;
    object-fit: cover;
    border-radius: 2px;
}
.product__name, .product__price{
    color: var(--principal);
    font-size: 18px;
}
.product__price{
    font-weight: bold;
}

/* Options */
.contact{
    background-color: var(--background2);
}
.options{
    text-align: center;    
    padding: 30px 20px 20px 20px;    
}
.options__img{
    width: 200px;
}
.options__list{
    display: flex;
    flex-direction: column;
}
.options_list--element{
    color: var(--principal);    
    font-size: 18px;
    margin-top: 20px;
}
@media (min-width: 768px){
    .contact{
        display: flex;
        padding: 0 30px;
    }
    .options{
        text-align: left;    
        padding: 30px 0px 20px 0px;    
        width: 270px;
    }
}
@media (min-width: 992px){
    .contact{
        padding: 0 120px;
    }
    .options{
        display: flex;
        width: 500px;
    }    
    .options__img{
        height: 60px;
    }
    .options__list{
        width: 300px;
        margin: 0 50px;
    }
}

/* Form */
.formSection{
    padding: 20px;
}
@media (min-width: 768px){
    .formSection{
        margin-left: 80px;
        width: 100%;
    }
}
@media (min-width: 992px){
    .formSection{
        margin-left: 0px;        
    }
}
.formSection__title{
    color: var(--principal);
}
.form__input{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 15px;   
    border-radius: 4px; 
    font-size: 18px; 
    border-bottom: 1px solid var(--placeholder);
}
.form__input--label{
    color: var(--placeholder);
}
.form__input--name{
    border: none;
    margin-top: 10px;
}
.form__input--textarea{    
    background-color: var(--background);
    padding: 15px;
    margin-top: 20px;   
    border-radius: 4px; 
    font-size: 18px; 
    border-bottom: 1px solid var(--placeholder);
}
.form__input--message{
    border: none;   
    width: 100%;
}
textarea:focus, input:focus{
    outline: none;
}
.btn__form{
    margin: 20px 0;
}

/* Footer */
footer p{    
    margin: 0;  
    color: var(--white);
}
footer a{
    text-decoration: none;
    font-weight: bold;    
    color: var(--white);
}
footer{
    background-color: rgb(26, 26, 26);        
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
}
@media (min-width: 768px){
    footer{
        height: 85px;
    }
}
.social, .social i{
    font-size: 27px;    
}
@media (min-width: 768px){
    .social, .social i{
        font-size: 30px;    
    }
}

/* --- LOGIN --- */
.login{
    background-color: var(--gray);
    padding: 70px 0;
}
@media (min-width: 992px){
    .login{     
        padding: 100px 0;
    }
}
.login__title{
    color: var(--principal);
    text-align: center;
}
.login__inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
@media (min-width: 768px){
    .login__inputs{        
        width: 60%;        
    }
    .btn__login--width{
        width: 50%;
        margin: 0 auto;
    }
}
@media (min-width: 992px){
    .login__inputs{        
        width: 30%;        
    }
    .btn__login--width{
        width: 50%;
        margin: 0 auto;
    }
}
.login__input{
    border: none;
    padding: 15px;   
    border-radius: 4px; 
    font-size: 18px; 
    border-bottom: 1px solid var(--placeholder);
    margin-bottom: 20px;
}

/* --- PRODUCTS --- */
.btn__sesion{
    border: 2px solid red;
}
.btn__sesion:hover{
    border: 2px solid rgb(228, 0, 0);
}
.btn__sesion--link{
    color: red;   
}
.products, .allProducts{      
    margin-top: 30px;  
    row-gap: 40px;
}
@media (max-width: 768px){
    .category__flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn__sesion{
        padding: 10px 10px;
    }
}